<p>
  <strong>You have not added a Basecamp account yet.</strong>
</p>
<p>
  In order to use Wallsome, you need to add a <%= link_to "Basecamp", "http://www.basecamphq.com", :target => "_blank" %> account.
</p>
