    <div id="spinner" title="Please wait...">
      <%= image_tag "spinner.gif", :size => "32x32" %>
    </div>

    <div id="dialog" title="">
      <textarea cols="35" rows="3" style="width: 284px;"></textarea>
    </div>

  </body>

</html>
